@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* *******************List of colors used*********************** */
list of colors {
    color: hsl(243, 87%, 12%);
    color: hsl(238, 22%, 44%);
    color: hsl(224, 93%, 58%);
    color: hsl(170, 45%, 43%);
    color: hsl(240, 80%, 98%);
    color: hsl(0, 0%, 75%);
}

/* **************************************************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
}

header li a {
    text-decoration: none;
    display: block;
    color: hsl(243, 87%, 12%);
    font-size: 18px;
}

li a:hover {
    color: hsl(228, 45%, 44%);
}

button:hover {
    background-color: hsl(214, 98%, 69%);
    color: rgba(255, 255, 255, 0.946);
}

.nav-links {
    margin-right: 50px;
}

.first-presentation,
.second-presentation {
    min-height: 85vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexc {
    display: flex;
    align-items: center;
}

input.main-input {
    padding: .8em;
    font-size: 15px;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 3px;
    width: 50%;
}

.main {
    margin-top: 1em;
}

button {
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    padding: 1em 4em;
    border-radius: 3px;
    margin-left: 0.5em;
    font-size: 14px;
}

.files-img {
    padding-top: 3em;
}

.texts h2 {
    font-size: 41px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.texts p {
    font-size: 19px;
    font-weight: 400;
}

.text p {
    margin-top: 1em;
}

.profile p {
    margin-top: 0;
    font-size: 15px;
}

.founder-text {
    padding-left: 0.5em;
}


.form-holder {
    width: 59%;
    padding-left: 14%;
}


.curve {
    height: 20vh;
    background: url("./images/bg-curve-desktop.svg") center no-repeat;
}

.second-presentation {
    background-color: #F8F8FE;
    margin-top: -10px;
}

.texts a {
    color: hsl(170, 45%, 43%);
}

.texts a:hover {
    color: hsl(170, 82%, 45%);
}

.second-presentation {
    padding-bottom: 5em;
}

.card-holder {
    width: 60%;
    min-height: 30vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 1.5em;
}

.fylo-holder {
    margin: .2em 0 1.5em;
    display: flex;
    flex-direction: column;
}

.fylo-holder img {
    width: 35px;
    height: 35px;
}

.fylo-holder a {
    display: flex;
    align-items: center;
}

.card-holder p {
    font-size: 15px;
}

.profile,
.footer-navs,
.phone,
.email,
.social-links {
    display: flex;
}

.profile {
    margin-top: 1em;
}

.quotes-holder {
    width: 5%;
}

.avatar-img img {
    border-radius: 50%;
    width: 62px;
}

.early-access {
    background-color: hsl(238, 22%, 44%);
    min-height: 30vh;
    color: #fffffff1;
    padding-top: 3em;
}

.early-access h3 {
    color: #f6f6fe;
    padding-bottom: 1em;
}

input.access-input {
    padding: 1em;
    font-size: 15px;
    border: 1px solid #070439;
    border-radius: 3px;
    width: 100%;
}

.early-access button {
    padding: 1.2em 2em;
    margin-left: 0;
    margin-top: 1em;
}

footer {
    background-color: #070439;
}

footer nav ul {
    display: block;
    color: #fff;
}

footer a,
.contact p {
    color: #bfbfbf;
}

footer li,
.phone {
    margin-bottom: 10px;

}

footer button,
footer input {
    display: block;
    font-weight: 700;
}

.footer-logo {
    width: 10%;
    padding: 3em 0 1em;
}

.contact p {
    padding-left: 0.8em;
}

.social-links i {
    color: #bfbfbf;
    font-size: 16px;
}

.social-links div {
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    justify-content: center;
    margin-right: 0.5em;
}

.social-links i:hover {
    color: hsl(214, 98%, 69%);
}

.footer-navs {
    justify-content: space-between;
}

.attribution {
    color: #bfbfbf;
    font-size: 15px;
    text-align: center;
    margin-top: 3em;
    height: 10vh;
}

.attribution a {
    color: teal;
}

@media screen and (max-width: 786px) {
    .first-presentation {
        margin-top: 3em;
        min-height: 78vh;
    }

    .fylo-holder span {
        height: 55px;
    }

    .texts h2 {
        font-size: 28px;
    }

    .texts p {
        font-size: 16px;
    }

    .texts button {
        margin-left: 0;
        margin-top: .5em;
        width: 40%;
        padding: .8em 1em;
    }

    .texts input {
        padding: .8em 1em;
        font-size: 13px;
    }

    .card-holder {
        width: 80%;
    }
    .fylo-holder img {
        width: 30px;
        height: 43px;
    }

    .section-one p {
        padding-top: 1em;
    }

    .section-one img {
        padding-top: 0.9em;
    }

    .early-access {
        min-height: 48vh;
    }

    .early-access p {
        font-size: 15px;
    }

    footer button {
        width: 100%;
    }

    .footer-navs {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 92%;
    }

    .nav-links {
        margin-right: 20px;
    }

    .logo {
        width: 30%;
    }

    header li a {
        font-size: 14px;
    }

    .card-holder {
        width: 100%;
    }

    .flex {
        flex-direction: column;
    }

    .files-img {
        order: -1;
    }

    .texts {
        order: 1;
        margin-top: 3em;
        margin-bottom: 4em;
    }

    .fylo-holder {
        display: flex;
        align-items: center;
    }

    footer {
        width: 100%;
    }

    .texts p {
        font-size: 15px;
    }

    .early-access p,
    h3,
    .first-presentation p,
    .first-presentation h2,
    .second-presentation h2 {
        text-align: center;
    }

    button,
    input {
        display: block;
        width: 85%;
    }

    .early-access {
        height: 80vh;
    }

    .footer-navs {
        display: block;
    }

    .contact,
    .about,
    .contact-us,
    .social-links {
        margin-top: 3em;
    }

    .social-links {
        width: 40%;
        margin: 3em auto 2em;
    }

    .founder-text p {
        padding-top: 0;
    }

    .card-holder {
        font-size: 10px;
    }

    .founder-text h4 {
        font-size: 11px;
    }

    .footer-logo {
        width: 40%;
    }

    .form-holder {
        margin-top: 1.5em;
        width: 83%;
        margin-left: -2.9em;
    }

    input.main-input {
        width: 85%;
        margin: 0 auto;
    }

    .texts button {
        width: 85%;
        margin: 0.5em auto 0;
    }
}